<%= render "navbarone" %>

<div class="banner-one">
  <div class="title">
    <h1>Relish</h1>
    <p>Delivering top quality dinners to your schools, from locally sourced providers.</p>
    <button class="button-one">
      Contact
    </button>
  </div>
</div>

<div style="text-align: center;">
  <h2>Banner Design</h2>
  <br>
  <p>on this page we can practsie coding different banner designs</p>
</div>
