<%= render "navbarone" %>

<div class="banner-one">
  <div class="title">
    <h1>Relish</h1>
    <p>Delivering top quality dinners to your schools, from locally sourced providers.</p>
    <button class="button-one">
      Contact
    </button>
  </div>
</div>
