<%= render "navbartwo" %>

<section class="banner-two-position">
  <div class="banner-two">
    <div class="title">
      <h1>Relish</h1>
      <p>Delivering top quality dinners to your schools, from locally sourced providers.</p>
      <button class="button-one">
        Contact
      </button>
      <br>
      <div class="contact-banner">
        <%= image_tag('phone.png', class: "phone-icon") %>
        <p>01652 765 543</p>
        <%= image_tag('email.png', class: "email-icon") %>
        <p>relish@relish.co.uk</p>
      </div>
    </div>
  </div>
</section>

<h1 style="text-align: center; font-family: 'Playfair Display', serif;">Our Core Values</h1>

<br>
<br>

<div class="core-values-three">
  <div class="card-core-values color-r">
    <h2>Reliability</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    <h1>R</h1>
  </div>

  <div class="card-core-values color-e">
    <h2>Excellence</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    <h1>E</h1>
  </div>

  <div class="card-core-values color-l">
    <h2>Luxury</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    <h1>L</h1>
  </div>

  <div class="card-core-values color-i">
    <h2>Innovative</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    <h1>I</h1>
  </div>

  <div class="card-core-values color-s">
    <h2>Sustainability</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    <h1>S</h1>
  </div>

  <div class="card-core-values color-h">
    <h2>Honesty</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    <h1>H</h1>
  </div>
</div>

<br>

<br>
