<nav class="navbar navbar-expand-lg navbar-light" style="background-color : rgba(184, 229, 250, 0); ">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <%= link_to "Banner", banner_path, class: "nav-item nav-link" %>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>


<div class="banner">
  <div class="title">
    <h1>Core Values Designs</h1>
  </div>
</div>

<br>
<br>
<h2 style="text-align: center;">Bootstrap Code</h2>
<br>
<br>

<div class="core-values">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="card-core-values color-r">
          <h2>Reliability</h2>
          <h1>R</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card-core-values color-e">
          <h2>Excellence</h2>
          <h1>E</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card-core-values color-l">
          <h2>Luxury</h2>
          <h1>L</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card-core-values color-i">
          <h2>Innovative</h2>
          <h1>I</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card-core-values color-s">
          <h2>Sustainability</h2>
          <h1>S</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card-core-values color-h">
          <h2>Honesty</h2>
          <h1>H</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<br>

<br>


<div class="core-values-two">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="card-core-values color-r">
          <h2>Reliability</h2>
          <h1>R</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card-core-values color-e">
          <h2>Excellence</h2>
          <h1>E</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card-core-values color-l">
          <h2>Luxury</h2>
          <h1>L</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card-core-values color-i">
          <h2>Innovative</h2>
          <h1>I</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card-core-values color-s">
          <h2>Sustainability</h2>
          <h1>S</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card-core-values color-h">
          <h2>Honesty</h2>
          <h1>H</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<h2 style="text-align: center;">Flexbox (Grid) Code</h2>

<br>
<br>

<div class="core-values-three">
  <div class="card-core-values color-r">
    <h2>Reliability</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    <h1>R</h1>
  </div>

  <div class="card-core-values color-e">
    <h2>Excellence</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    <h1>E</h1>
  </div>

  <div class="card-core-values color-l">
    <h2>Luxury</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    <h1>L</h1>
  </div>

  <div class="card-core-values color-i">
    <h2>Innovative</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    <h1>I</h1>
  </div>

  <div class="card-core-values color-s">
    <h2>Sustainability</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    <h1>S</h1>
  </div>

  <div class="card-core-values color-h">
    <h2>Honesty</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
    <h1>H</h1>
  </div>
</div>

