<h1>testing one two three</h1>

<div class="core-values">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="card-core-values color-r">
          <h2>Reliability</h2>
          <h1>R</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card-core-values color-e">
          <h2>Excellence</h2>
          <h1>E</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card-core-values color-l">
          <h2>Luxury</h2>
          <h1>L</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card-core-values color-i">
          <h2>Innovative</h2>
          <h1>I</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card-core-values color-s">
          <h2>Sustainability</h2>
          <h1>S</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="card-core-values color-h">
          <h2>Honesty</h2>
          <h1>H</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
        </div>
      </div>
    </div>
  </div>
</div>
