.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.core-values {
  .card-core-values {
    padding-top: 65px;
    position: relative;
    box-shadow: 0px 0px 17px -7px;
    min-width: 170px;
    max-width: 170px;
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  .color-r {
    background-color: rgba(245, 71, 72, 0.6);
    h1 {
      color: rgba(245, 71, 72, 0.9);
    }
  }
  .color-e {
    background-color: rgba(251, 147, 0, 0.6);
    h1 {
      color: rgba(251, 147, 0, 1);
    }
  }
  .color-l {
    background-color: rgba(23, 175, 29, 0.31);
    h1 {
      color: rgba(23, 175, 29, 1);
    }
  }
  .color-i {
    background-color: rgba(101, 149, 250, 0.6);
    h1 {
      color: rgba(101, 149, 250, 1);
    }
  }
  .color-s {
    background-color: rgba(55, 34, 183, 0.6);
    h1 {
      color: rgba(55, 34, 183, 0.7);
    }
  }
  .color-h {
    background-color: rgba(216, 101, 235, 0.6);
    h1 {
      color: rgba(216, 101, 235, 1);
    }
  }
  h2 {
    transform: rotate(-90deg);
    text-align: right;
    position: relative;
    top: 20px;
    right: 63px;
    color: white;
    font-size: 30px;
  }
  h1 {
    font-size: 7.5rem;
    position: relative;
    right: 5px;
    top: 32px;
  }
  p {
    position: absolute;
    top: 10px;
    margin-left: 26%;
    margin-right: 10px;
    font-size: 12px;
    color: white;
  }
}


// core values hover two


.core-values-two {
  .card-core-values {
    padding-top: 65px;
    position: relative;
    box-shadow: 0px 0px 17px -7px;
    min-width: 170px;
    max-width: 170px;
    transition: all .2s ease-in-out;
    &:hover {
      min-width: 600px;
      max-width: 600px;
      z-index: 2000;
      h2 {
        transform: rotate(0deg);
      }
    }
  }
  .color-r {
    background-color: rgba(245, 71, 72, 0.6);
    h1 {
      color: rgba(245, 71, 72, 0.9);
    }
  }
  .color-e {
    background-color: rgba(251, 147, 0, 0.6);
    h1 {
      color: rgba(251, 147, 0, 1);
    }
  }
  .color-l {
    background-color: rgba(23, 175, 29, 0.31);
    h1 {
      color: rgba(23, 175, 29, 1);
    }
  }
  .color-i {
    background-color: rgba(101, 149, 250, 0.6);
    h1 {
      color: rgba(101, 149, 250, 1);
    }
  }
  .color-s {
    background-color: rgba(55, 34, 183, 0.6);
    h1 {
      color: rgba(55, 34, 183, 0.7);
    }
  }
  .color-h {
    background-color: rgba(216, 101, 235, 0.6);
    h1 {
      color: rgba(216, 101, 235, 1);
    }
  }
  h2 {
    transform: rotate(-90deg);
    text-align: right;
    position: relative;
    top: 20px;
    right: 63px;
    color: white;
    font-size: 30px;
  }
  h1 {
    font-size: 7.5rem;
    position: relative;
    right: 5px;
    top: 32px;
  }
  p {
    position: absolute;
    top: 10px;
    margin-left: 26%;
    margin-right: 10px;
    font-size: 12px;
    color: white;
  }
}
