.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// Nav bar one


.navbar-one {
  a.nav-item.nav-link {
      margin-right: 8%;
  }

  .banner-icon {
    width: 60px;
    margin-right: 25px;
  }

  .navbar-nav {
    a {
      color: white !important;
      font-family: 'Poppins', sans-serif;
    }
  }

  .nav-button {
    position: absolute;
    left: 85%;
    background-color: #F54748;
    color: white;
    padding: 10px 25px;
    border: none;
    font-family: 'Poppins', sans-serif;

  }
}

// nav bar two

.navbar-two {
  a.nav-item.nav-link {
      margin-right: 8%;
  }

  .banner-icon {
    width: 60px;
    margin-right: 25px;
  }

  .navbar-nav {
    a {
      color: black !important;
      font-family: 'Playfair Display', serif;
    }
  }

  .nav-button {
    position: absolute;
    left: 85%;
    background-color: #F54748;
    color: white;
    padding: 10px 25px;
    border: none;
    font-family: 'Playfair Display', serif;

  }
}
